.contacts{
  display: flex;
  padding-top: 70px;
  padding-left: 175px;
}

.contacts-address{
  position: relative;
  h2{
    @include big-heading;
  }
}

.contacts-flag{
   position: absolute;
  left: -50px;
}

.contacts-mail{
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 40px;
  display: inline-block;
  span{
    display: inline-block;
    margin-left: 25px;
    border-bottom: 2px solid #62D1BA;
  }
}

.contacts--location{
  display: flex;
  p{
    margin: 0px;
    width: 240px;
  }
}