@charset "UTF-8";
/*жирный шрифт*/
/*нормал шрифт*/
body {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  font-family: Open Sans Bold, Arial, sans-serif; }

main {
  margin-left: 100px;
  margin-right: 100px; }

.main-header {
  position: relative;
  background-color: white;
  color: black;
  padding-left: 100px;
  display: flex;
  border-bottom: 1px solid #E7E7E7; }
  .main-header a {
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none; }

.main-header--product {
  padding-right: 36px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-right: 1px solid #E7E7E7; }

.main-header--request {
  padding-left: 36px;
  padding-top: 30px;
  padding-bottom: 30px; }

.main-header--logo {
  position: absolute;
  left: 550px;
  bottom: 10px; }

.main-header--search-cart {
  margin-left: 325px;
  border-left: 1px solid #E7E7E7;
  display: flex;
  vertical-align: middle; }

.main-header--search,
.main-header--cart {
  padding-top: 30px;
  display: inline-block;
  padding-left: 33px;
  padding-right: 33px; }

.main-header--search {
  border-right: 1px solid #E7E7E7; }

.basket {
  margin-left: 33px; }

.sweety {
  background: #f9f9f9 url("../../img/hero-desktop.jpg") no-repeat;
  background-position-x: center;
  padding-top: 20px;
  position: relative;
  margin-bottom: 75px; }
  .sweety h2 {
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 53px;
    line-height: 57px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    text-align: center;
    margin-top: 120px; }
  .sweety img {
    position: absolute;
    bottom: -20px; }

.sweety--link {
  font-family: Open Sans Bold, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-right: 60px; }

.sweety--wrape-container {
  display: flex; }

.sweety--info-delivery {
  margin-left: 440px;
  font-family: Open Sans Regular, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }

.sweety--bottom-sections {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  margin-top: 350px; }

.sweety--bottom-section1,
.sweety--bottom-section2 {
  position: relative;
  background-position: 20px 100px;
  height: 120px;
  width: 50%; }
  .sweety--bottom-section1 span,
  .sweety--bottom-section2 span {
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    margin-left: 37px;
    margin-top: 30px;
    display: block;
    width: 140px; }
  .sweety--bottom-section1 img,
  .sweety--bottom-section2 img {
    position: absolute;
    right: 35px;
    top: 30px; }

.sweety--bottom-section1 {
  background: #63D1BB; }

.sweety--bottom-section2 {
  background: #56C3B2; }

.baskets {
  position: relative;
  background: url("../../img/triple-set-desktop.png") no-repeat right top; }
  .baskets .baskets--product-week {
    position: absolute;
    color: #63d1bb;
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    width: 70px;
    text-align: center;
    top: 83px;
    left: 45px; }

.baskets--info {
  display: inline-block;
  margin-left: 175px;
  width: 525px;
  margin-top: 30px; }
  .baskets--info h2 {
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 53px;
    line-height: 57px; }
  .baskets--info p {
    width: 282px;
    font-size: 17px;
    line-height: 30px;
    color: #6B6B6B;
    margin-bottom: 40px; }
  .baskets--info table {
    color: #6B6B6B;
    border-collapse: collapse;
    margin-bottom: 100px; }
    .baskets--info table tr td {
      border-bottom: 1px solid #ECECEC;
      padding: 12px 0px;
      padding-right: 30px; }

.baskets--order {
  margin-left: 175px;
  font-family: Open Sans Bold, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  width: 292px; }
  .baskets--order span {
    font-family: Open Sans Bold, Arial, sans-serif;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 25px; }
  .baskets--order button {
    width: 290px;
    background-color: white;
    border: 2px solid black;
    padding: 15px 0px;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer; }

.baskets--bottom-line {
  margin-top: 60px; }

.about h2 {
  font-family: Open Sans Bold, Arial, sans-serif;
  font-size: 53px;
  line-height: 57px;
  margin-left: 175px;
  margin-top: 60px; }

.about--list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 175px;
  list-style: none;
  width: 700px;
  flex-wrap: wrap;
  padding: 0; }

.about--item {
  font-family: Open Sans Bold, Arial, sans-serif;
  font-weight: bold;
  width: 50%;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 35px; }

.review {
  position: relative;
  background: url("../../img/review.png") no-repeat;
  margin-top: 80px;
  padding-left: 175px;
  padding-top: 40px;
  margin-bottom: 80px; }
  .review h2 {
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 53px;
    line-height: 57px; }
  .review p {
    font-family: Open Sans Regular, Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    width: 772px; }

.review--write {
  position: absolute;
  top: 80px;
  right: 0px;
  background-color: white;
  border: 2px solid black;
  padding: 15px 0px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 175px; }

.review--client-info {
  display: flex;
  flex-direction: column;
  margin-top: 35px; }

.review--client-name {
  font-family: Open Sans Bold, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold; }

.review--client-address {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 90px; }

.review--nav-arrow {
  position: absolute;
  width: 175px;
  right: -10px;
  top: 300px; }
  .review--nav-arrow img {
    padding: 15px;
    cursor: pointer; }

.review--bottom-line {
  position: absolute;
  left: 0px;
  bottom: -80px; }

.contacts {
  display: flex;
  padding-top: 70px;
  padding-left: 175px; }

.contacts-address {
  position: relative; }
  .contacts-address h2 {
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 53px;
    line-height: 57px; }

.contacts-flag {
  position: absolute;
  left: -100px;
  top: 30px; }

.contacts-mail {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 40px;
  display: inline-block; }
  .contacts-mail span {
    display: inline-block;
    margin-left: 25px;
    border-bottom: 2px solid #62D1BA; }

.contacts--location {
  display: flex;
  font-size: 17px;
  line-height: 30px; }
  .contacts--location p {
    margin: 0px;
    margin-left: 25px;
    width: 220px; }

.contacts--write-us {
  width: 230px;
  margin-top: 95px;
  background-color: white;
  border: 2px solid black;
  padding: 15px 0px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
